{% extends "layout.html" %}

{% block title %}
About the Creators
{% endblock %}

{% block main %}
<body class="backdrop">
    <h1 class="mb-3 font rhythmBlue text-center">Meet the Creators!</h1>
    <div class='page-wrapper'>
        <div class='row'>
          <div class='column'>
            <div class='font'>
                <div class="team-img">
                    <img src="https://images.squarespace-cdn.com/content/v1/614105a6a5c38b4a59e335e8/c62e2438-52d5-454a-8fa4-0a0c7c1044ea/73C00A2A-E3D0-4F3C-AA2F-BD3156A3D69C+-+Anh-Thu+Le.jpg" alt="team member" class="img-responsive" height="200" width="200" >
                </div>
                <div class="team-hover">
                    <div class="desk font rhythmBlue">
                        <h4>Anh-Thu Le</h4>
                        <p>Anh-Thu is a first year at Harvard College from Oxford, Mississippi. She is planning to study film studies with a secondary in women, gender, and sexuality studies. In her free time, she loves learning about the ocean and watching the latest reality show.</p>
                    </div>
                </div>
            </div>
          </div>
          <div class='column'>
            <div class='font'>
                <div class="team-img">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQESKd_lrlC5Dg/profile-displayphoto-shrink_200_200/0/1600410628355?e=1672272000&v=beta&t=52Ogwvj039BZo4EQotzuVKH1fdUI2vRUIMjAfoIK4R0" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk font rhythmBlue">
                        <h4>Cathy Hou</h4>
                        <p>Cathy is a first year at Harvard College from Katy, Texas. She is planning to study history with a secondary in earth and planetary sciences. In her free time, she loves reading about all kinds of birds and going birding. Ask her for fun facts about birds and she'll tell you her favorites!</p>
                    </div>
                </div>
            </div>
          </div>
          <div class='column'>
            <div class='font'>
                <div class="team-img">
                    <img src="https://quizlet.com/cdn-cgi/image/f=auto,fit=cover,h=200,onerror=redirect,w=240/https://o.quizlet.com/ZAINM3pWzq8-oV7BFkpvHA.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk font rhythmBlue">
                        <h4>Jack Cenovic</h4>
                        <p>Jack is a first year at Harvard College from Omaha, Nebraska. He is planning to study economics with a applied math secondary. In his free time, he enjoys browsing reddit and catching up on the latest Netflix show.</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</body>
{% endblock %}
