{% extends "layout.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block main %}
<body class="font rhythmBlue backdrop">
  <div class="container d-flex flex-column forgotpasswordpage">
    <div class="row align-items-center justify-content-center
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
               <!-- Title -->
              <strong>Forgot Password?</strong>
              <p class="mb-2">Enter your registered email and answers to the security questions to reset password.
              </p>
            </div>
            <form action="/forgotpass" method="post">
              <!-- Questions -->
              <div class="mb-3">
                <strong for="email" class="form-label">Email</strong>
                <input type="text" id="email" class="form-control" name="email" placeholder="Enter Your Email Address"
                  required="">
              </div>
              <div class="mb-3">
                <strong for="securityques1" class="form-label">Security Question: What is your mother's maiden name?</strong>
                <input type="text" id="securityques1" class="form-control" name="securityques1" placeholder="Enter Your Answer"
                  required="">
              </div>
              <div class="mb-3">
                <strong for="securityques2" class="form-label">Security Question: What is your childhood nickname?</strong>
                <input type="text" id="securityques2" class="form-control" name="securityques2" placeholder="Enter Your Answer"
                  required="">
              </div>
              <div class="mb-3">
                <strong for="passwordreset" class="form-label">Password Reset</strong>
                <input type="password" id="newpass" class="form-control" name="newpass" placeholder="Enter Your New Password"
                  required="">
              </div>
              <div class="mb-3">
                <strong for="passwordconfirm" class="form-label">Password Confirmation</strong>
                <input type="password" id="confirmpass" class="form-control" name="confirmpass" placeholder="Confirm Your New Password"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-color">
                  Reset Password
                </button>
              </div>
              <span>Don't have an account? <a href="/register.html">Register Here</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}