{% extends "layout.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block main %}
<body class="backdrop">
  <div class="container d-flex flex-column forgotpasswordpage">
    <div class="row align-items-center justify-content-center
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Forgot Password?</h5>
              <p class="mb-2">Enter your registered username and answers to the security questions to reset password.
              </p>
            </div>
            <form>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Enter Your Username"
                  required="">
              </div>
              <div class="mb-3">
                <label for="securityques1" class="form-label">Security Question: What is your mother's maiden name?</label>
                <input type="text" id="securityques1" class="form-control" name="securityques1" placeholder="Enter Your Answer"
                  required="">
              </div>
              <div class="mb-3">
                <label for="securityques2" class="form-label">Security Question: What is your childhood nickname?</label>
                <input type="text" id="securityques2" class="form-control" name="securityques2" placeholder="Enter Your Answer"
                  required="">
              </div>
              <div class="mb-3">
                <label for="passwordreset" class="form-label">Password Reset</label>
                <input type="text" id="newpass" class="form-control" name="newpass" placeholder="Enter Your New Password"
                  required="">
              </div>
              <div class="mb-3">
                <label for="passwordconfirm" class="form-label">Password Confirmation</label>
                <input type="text" id="confirmpass" class="form-control" name="confirmpass" placeholder="Confirm Your New Password"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-color">
                  Reset Password
                </button>
              </div>
              <span>Don't have an account? <a href="/register.html">Sign in</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}