{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<!-- <div class="homepagedesign">
    <iframe loading="lazy" class="framestyle"
        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFTlbFv1eA&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
</div> -->

<div> 
    <img src="https://www.canva.com/design/DAFTlbFv1eA/2Wok1x-6rFFYIT7VJo4JwQ/edit?utm_content=DAFTlbFv1eA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" style="width:100%">
</div>

{% endblock %}