{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<!-- <div class="homepagedesign">
    <iframe loading="lazy" class="framestyle"
        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFTlbFv1eA&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
</div> -->

<a href='https://www.linkpicture.com/view.php?img=LPic638ad872bbe77283252859'>
    <img src='https://www.linkpicture.com/q/CAP.jpg' type='image'>
</a>

{% endblock %}