{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}


{% block main %}
<body class>
  <form action="/login" method="post">
  <section class="backdrop vh-100">
    <div class="backdrop container py-5 h-100">
      <div class="backdrop row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 shadowBlue text-uppercase">Login</h2>
                <p class="shadowBlue">Please enter your login and password!</p>

                <div class="form-outline form-dark mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" />
                  <label class="shadowBlue form-label" for="email">Email</label>
                </div>

                <div class="form-outline form-dark mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" />
                  <label class="shadowBlue form-label" for="password">Password</label>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="shadowBlue text-dark-50" href="/forgotpass">Forgot password?</a></p>

                <button class="btn btn-submit btn-lg px-5" type="submit">Login</button>
              </div>

              <div>
                <p class="mb-0 shadowBlue">Don't have an account? <a href="/account" class="shadowBlue text-dark-50 fw-bold">Sign Up</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>
</body>
{% endblock %}