{% extends "layout.html" %}

{% block title %}
Methodology
{% endblock %}

{% block main %}
<!-- source cite for page template: https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01  -->
<body class="backdrop">
  <div class='backdrop page-wrapper'>
    <h1 class="font bold left">Cap App Custom Matching Algorithm, Explained</h1>
    <div class='row'>
      <div class='boxed column'>
        <div class='font'>
          <h2>Metric One: MBTI</h2>
          <p>MBTI, which is short for the Myers Briggs Type Indicator, provides a 4-letter personality type based on varying traits. Individuals can either by (E)xtraverted or (I)ntroverted, i(N)tuitive or (S)ensing, (T)hinking or (F)eeling, and (J)udging or (P)erceiving. </p>
          <button type="button" class="btn btn-primary"><a class="white" href="https://www.16personalities.com/">MBTI Test</a></button>
          <button type="button" class="btn btn-primary"><a class="white" href="https://www.truity.com/myers-briggs/about-myers-briggs-personality-typing">MBTI Explanation</a></button>            
      </div>
      </div>
      <div class='boxed column'>
        <div class='font'>
          <h2>Metric Two: Enneagram</h2>
          <p>Enneagram, similar to MBTI, categorizes users based on their personalities. The enneagram system assigns users to one of nine personality types, Types 1 through 9, based on their personal characteristics and tendencies.</p>
          <button type="button" class="btn btn-primary"><a class="white" href="https://www.truity.com/enneagram/9-types-enneagram">Enneagram Explanation</a></button>
          <button type="button" class="btn btn-primary"><a class="white" href="https://www.truity.com/test/enneagram-personality-test?ppcga=fixed&gclid=Cj0KCQiA4aacBhCUARIsAI55maFHPUyFPG3Y8fJEonoN_1Mj_8V99XxQeuzOY9gUTfJq4fA36L8kuXEaApLNEALw_wcB">Enneagram Test</a></button>    
      </div>
      </div>
      <div class='boxed column'>
        <div class='font'>
          <h2>Metric Three: Name Analysis</h2>
          <p>The final method of matching a user with a celebrity involves using information based on a user's name. We use three APIs, agify, nationalize, and genderize, to match users and celebrities based on age, nationality, and gender, respectively. These three APIs analyze names and predict the most likely age, gender, and nationality.</p>
          <button type="button" class="btn btn-primary"><a class="white" href="https://agify.io/">Agify Package</a></button>
          <button type="button" class="btn btn-primary"><a class="white" href="https://nationalize.io/">Nationalize Package</a></button>
          <button type="button" class="btn btn-primary"><a class="white" href="https://genderize.io/">Genderize Package</a></button>    
      </div>
      </div>
    </div>
    <div class='row 2'>
      <div class='column'>
        <h2 class="font left">Data Sources</h2>
        <div class="boxed">
          <p>In order to source celebrity names, mbti types, and enneagram types, we source information from personality-database.com, which is linked below.</p>
          <button type="button" class="btn btn-primary"><a class="white" href="https://www.personality-database.com/">Celebrity Personality Database</a></button>
        </div>        
      </div>
    </div>
  </div>
</body>
{% endblock %}
