{% extends "layout.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block main %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Register</h3>
              <form>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" autocomplete="off" autofocus id="username" name="username" placeholder="Username" class="form-control form-control-lg" />
                    </div>

                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="password" autocomplete="off" autofocus id="password" name="password" placeholder="Password" class="form-control form-control-lg" />
                    </div>
                  </div>
                </div>

                <div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" autocomplete="off" autofocus id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" class="form-control form-control-lg" />
                    </div>

                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" id="email" name="email" placeholder="Email Address" class="form-control form-control-lg" />
                    </div>

                <strong class="left">Security Question: What is your mother's maiden name?</strong>
                <div class="form-outline">
                    <input type="text" autocomplete="off" autofocus id="securityq1" name="securityq1" placeholder="Answer" class="form-control form-control-lg" />
                </div>

                <strong class="left">Security Question: What is your childhood nickname?</strong>
                <div class="form-outline">
                    <input type="text" autocomplete="off" autofocus id="securityq2" name="securityq2" placeholder="Answer" class="form-control form-control-lg" />
                </div>

                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}