{% comment %} <div class="container light-style flex-grow-1 container-p-y">

  <h4 class="font-weight-bold py-3 mb-4">
    Match Results
  </h4> {% endcomment %}

<div class="card overflow-hidden">
    <div class="row no-gutters row-bordered row-border-light">
      <div class="col-md-3 pt-0">
            
            </div>
          </div>
          <div class="tab-pane fade" id="account-results">
            <div class="card-body pb-2">
              <section class="vh-100" style="background-color: #eee;">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-9 col-xl-7">
                      <div class="card rounded-3">
                        <div class="card-body p-4">
              
                          <h4 class="text-center my-3 pb-3">Match Results</h4>
  
                          <table class="table mb-4">
                            <thead>
                                {% for person in top10 %}
                              <tr>
                                <th scope="col">Rank: {{ match }}</th>
                                <th scope="col">Name: {{ person[2] }}</th>
                                <th scope="col">MBTI: {{ person[3] }}</th>
                                <th scope="col">Enneagram: {{ person[4] }}</th>
                                <th scope="col">Match Percentage: {{(person[5]/total_points) * 100}}%</th>
                              </tr>
                                {% endfor %}
                            </thead>
                            <!-- Jinja to loop through top 10 -->
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Ur Mom</td>
                                <td>100%</td>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div> 

            {% for person in people %}  
            <tr>
              <th class="text-start">{{ person }}</th>
              <th class="text-end">{{ person[2] }}</th>
              <th class="text-end">{{ person[3] }}</th>
              <th class="text-end">{{ person[4] }}</th>
              <th class="text-end">{{ person[5] }} </tr>
            </tr>
            {% endfor %}



                              {% for person in people %}
                            <tr>
                              <th scope="col">Name: {{ person[2] }}</th>
                              <th scope="col">MBTI: {{ person[3] }}</th>
                              <th scope="col">Enneagram: {{ person[4] }}</th>
                              <th scope="col">Match Index: {{person[5]}}%/th>
                            </tr>
                              {% endfor %}


            <h2>NOOOOOO</h2>
            <h1>Name: {{ person[2] }}</h1>
            <h1>MBTI: {{ person[3] }}</h1>
            <h1>Enneagram: {{ person[4] }}</h1>
            <h1>Match Percentage: {{person[5] * 100}}%</h1>





<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">Match Results</h4>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="text-start">Rank:</th>
                  <th scope="text-end">Name:</th>
                  <th scope="text-end">MBTI:</th>
                  <th scope="text-end">Enneagram:</th>
                  <th scope="text-end">Match Index:</th>
                </tr>
              </thead>
              <tbody>
                  {% for person in person %}  
                  <tr>
                    <th class="text-start">{{ person }}</th>
                    <th class="text-end">{{ person[2] }}</th>
                    <th class="text-end">{{ person[3] }}</th>
                    <th class="text-end">{{ person[4] }}</th>
                    <th class="text-end">{{ person[5] }} </tr>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% for person in shortlist %}  
<tr>
  <td class="text-end">{{ person[2] }}</th>
  <td class="text-end">{{ person[3] }}</th>
  <td class="text-end">{{ person[4] }}</th>
  <td class="text-end">{{ person[5] * 100}} </tr>
</tr>
{% endfor %}